.logo_products {
    padding: 1em 0 1em;
}
.w3ls_logo_products_left1{
	float: left;
	margin-top: 0;
}
.navbar-align{
	display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.w3ls_logo_products_left1:nth-child(3), .w3ls_logo_products_left1:nth-child(3)  {
    float: left;
    margin-right: 0em;
}
.phone_email{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.w3ls_logo_products_left1 ul.phone_email li {
    margin-right: 0;
}
.w3ls_logo_products_left{
    margin-right: 0em;
}
.w3l_banner_nav_right{
width: 100%;
}
.caret_icon{
    padding: 0 0em;
}
.product-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.w3l_header_right ul
{
    margin-top: -10px;
}
.products-breadcrumb {
    background: #49ab9c;
}
.products-breadcrumb ul li i, .products-breadcrumb ul li a{
    color: #000;
}
.products-breadcrumb ul li a:hover {
    color: #000;
}
.w3l_banner_nav_right_banner3_btml
{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.view-tenth .mask
{
    background-color: #49ab9c;
}
.view h4 {
    margin: 6em 0 0;
}